.card-list-assets {
  height: 100px;

  img {
    height: 80px;
    border-radius: 10px;
  }

  .assets-info {
    margin-left: 20px;
    border-left: #d9d9d9 solid 1px;
    padding-left: 20px;
  }

  .title-name {
    margin-bottom: 10px;
    font-weight: bold;
  }
}
