//Customizando o Bootstrap

$theme-colors: (
  "primary": #0353f3,
  "secondary": #9e9e9e,
);

$body-bg: #f8f8f8;
$body-color: #494c4b;

@import "~bootstrap/scss/bootstrap.scss";

.btn {
  font-weight: 700;
  height: 40px;
  min-width: 150px;
  color: #fff;

  &:hover {
    color: #f8f8f8;
  }
}
