.graphic-container {
  margin-bottom: 60px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 480px);
  grid-gap: 33px 20px;
  justify-content: space-between;
}

.graphic-content {
  height: 300px;
  width: 480px;
  background-color: #c4c4c4;
}

.units-container {
  justify-content: space-around;
}
